.mainbody{width: 1205px;margin: 0 auto;border: 1px solid #ccc;}
.mainbody h6{height:35px;border-bottom: 2px solid #000;line-height: 35px;padding-left:18px;font-weight: bold;}
.mainbody .map_body{height:562px;width:100%;}






